[2016-06-13 09:01] davesnx opened #1 "Create -n opt"
Try different approaches of the options

[2016-06-13 09:02] davesnx opened #2 "Roadmap?"
- Figure out which options of jq are needed: [jq-manual](https://stedolan.github.io/jq/manual/)
- Figure out which features we can actually add for run programatically a cli command.

[2016-06-13 11:12] davesnx opened #3 "Make a cool logo"
https://nodeblog.files.wordpress.com/2011/07/nodejs.png + https://stedolan.github.io/jq/jq.png

[2016-06-13 12:07] davesnx opened #4 "Don't export all the methods"
Something like this:

[code]

or just not unit test each function as a util isolated, do more like a 'functional' test, running `runJq` and expect the throw.

[2016-06-14 11:12] #1 closed

[2016-06-19 12:02] davesnx opened #23 "Change the output based on options is a bad idea"

[2016-06-19 12:02] davesnx opened #24 "Make a requireDir based on fixtures"

[2016-07-02 10:05] #24 closed

[2016-07-02 10:05] #4 closed

[2016-07-02 10:06] #2 closed

[2016-07-02 10:06] #23 closed

[2016-07-02 10:06] #3 closed

[2016-07-12 11:36] davesnx opened #31 "Support all the basic options"

[2016-07-12 11:36] davesnx opened #32 "Create some useful usecases of node-jq"
Apart from [atom-jq](https://github.com/sanack/atom-jq/)

[2016-07-12 11:36] davesnx opened #33 "Refactor optionsMap"

[2016-07-12 11:39] davesnx opened #34 "Improve documentation"
Arround options

[2016-07-12 11:40] davesnx opened #35 "Support Defining Functions"
https://stedolan.github.io/jq/manual/#Advancedfeatures

[2016-07-12 15:20] davesnx opened #36 "Support stream options"
Think a way of matching Node Streams/Observables with jq streams.

[2016-07-12 15:23] davesnx opened #37 "Support tests"

[2016-07-22 11:02] davesnx opened #38 "Show a warning when the system doesn't have jq installed in the $PATH"
cons: Dunno in windows ¯\_(ツ)_/¯

[2016-08-01 09:07] NullDivision opened #39 "Support CLI calls"
Currently there is no binary exposed for terminal access and therefor the only option is creating a script to run it. Seems inefficient considering that you could simply have:

[code]

[2016-08-01 12:32] davesnx commented on #39
You want the same interface as jq @NullDivision
I don't really get it, you could simple run jq as a binary.

[2016-08-01 15:35] NullDivision commented on #39
Node-jq is kind of redundant as jq is basically emulating on a CLI what JS already does natively (ie. handle run Javascript Object Notation). The whole reason one would want jq as a node package is to run it as part of an NPM script.

And while you can run it using a system binary, the person downloading it might not have JQ already installed, hence why it needs to be included as a node module.

[2016-08-01 20:11] davesnx commented on #39
That's not true, You can run whatever binary through npm scripts, It's exactly what you said.
But could be usefull for rare use cases like mine, that I need to run jq as a javascript process for my atom plugin: [atom-jq](https://github.com/sanack/atom-jq), and I can think some use cases that could be usefull.

Basically there's a [prerequirement](https://github.com/sanack/node-jq#prerequisites) th

[2016-08-01 22:13] NullDivision commented on #39
I see. Then it's kind of a moot point. `jq-cli-wrapper` does include builds.

Thanks for the attention either way. :)

[2016-08-01 22:13] #39 closed

[2016-08-22 19:29] mackermans opened #40 "Create binary wrapper"
Download the `jq` executable automatically when installing this package, or include it in the source code. Reference it local instead of global. This removes the requirement of having installed  `jq` already.

Maybe in combination with [this](https://github.com/kevva/bin-wrapper) package.

[2016-08-23 07:08] davesnx commented on #40
The bin-wrapper seems the correct to wrapp the binary, I see issues doing the script of downloading the jq and building it.

[2016-08-23 13:56] davesnx commented on #39
We gonna implement some kind of this in the near future @NullDivision

[2016-09-05 21:31] davesnx commented on #38
Closed when https://github.com/sanack/node-jq/pull/41 get merged.

[2016-09-05 21:32] davesnx commented on #39
@NullDivision, I actually implement something to make this happen https://github.com/sanack/node-jq/pull/41

[2016-09-13 14:01] mackermans commented on #40
Implemented in #41

[2016-09-13 14:01] #40 closed

[2016-09-13 14:01] #38 closed

[2016-09-29 03:17] babignano opened #45 "Install on Mac OSX fails with CHMOD error"
[code]

This might be an issue where on the install script is checking for `node_modules/node-jq/node_modules/.bin/jq` when it should be checking for `node_modules/.bin/jq`

I've attempted this with both `sudo npm install node-jq` and `npm install node-jq`

I'm on npm v3.10.6.

[2016-09-29 06:08] davesnx commented on #45
Hey @babignano,
Thanks for create the issue, seems like the script of installing the binary doesn't recognise the parent node_modules and tries to find jq inside their own binary dependencies.

The work arround for now, could be install jq globally.

I will try to fix this soon.

[2016-09-29 06:19] davesnx commented on #45
We have two options to solve that bug, @mackermans:
- Find recursively the parent path and install the binary there.
- Or use [node-gyp](https://github.com/nodejs/node-gyp) to do the binding with C.

[2016-10-06 22:31] davesnx commented on #45
Hey @babignano, can you try with the new version@0.3.13 ?

[2016-10-09 22:19] babignano commented on #45
@davesnx Thanks Dave, really appreciate the help.

I'll give it a shot today 👍

[2016-11-05 11:27] #45 closed

[2016-11-23 03:49] wellsjo opened #47 "fails to install to node_modules/.bin if jq is not installed on system"
I am on osx

[2016-11-23 03:52] wellsjo commented on #47
it looks like this was fixed

[2016-11-23 10:37] mackermans commented on #47
@wellsjo Version `0.3.13` was published to npm but `package.json` wasn't updated, and neither was the corresponding tag pushed to git. I updated it all to version `0.3.14`, could you try that one out and let me know if that fixes it?

[2016-11-23 17:07] wellsjo commented on #47
@mackermans installing `0.3.14` works now. However, I still have a problem with the jq installation.

Steps to reproduce:
1. uninstall jq from system
2. in project: `npm i node-jq --save`

After this, there is no `jq` in the `node_modules/.bin` directory. However, `jq` has been installed to `/usr/local/bin/jq`.

I am using this as part of an Electron project.  Since it installs to `/usr/local/`, t

[2016-11-24 08:54] davesnx commented on #47
Hey @mackermans and @wellsjo

Sorry for jumping into this but It's the expected behaviour, if isn't installed globally tries to install on `/usr/local/bin`.

If there's any issue arround that, as a work-arround, you can install jq globally before install `node-jq`

[2016-11-24 17:42] wellsjo commented on #47
@davesnx is `node-jq` the wrong tool to use for my Electron app then? I don't see ho installing jq globally first would fix this issue. I need the binary somewhere in the project directory so that Electron can bundle it (at least I think that's how that works).

[2016-11-24 17:49] davesnx commented on #47
Not really, we change a little bit the behaviour of installing it global, now we install it local on the module. Next version is near and would be fixed.

[2016-11-24 17:57] wellsjo commented on #47
@davesnx awesome, can't wait

[2016-11-24 21:11] #47 closed

[2016-11-24 21:21] mackermans commented on #47
@wellsjo Could you try with version `0.4.0`?

[2016-11-24 21:54] wellsjo commented on #47
@mackermans 👍  thank you! 😄

[2016-12-03 01:30] qifuren1985 opened #51 "node-jq throw E2BIG error when input json is too big"
If input json is big array, it will throw E2BIG error.
for example, type this code in chrome console, it will generate a big array, and copy to clipboard.
[code]

when pass a array with 10000 elements to node-jq, it will throw E2BIG, due to a limitation of the size of the command line argument.

jq support read json string from stdin, so when call child_process to create process, we need pass json

[2016-12-03 16:16] davesnx commented on #51
Hello @qifuren1985

I did a test and it's true there's a 'bug' arround E2BIG.

For reproduce I did this snippet:

[code]

and the error that I get is:

[code]

Let me explain what's happening here. The `E2BIG` means that the argument list is too long, as you point it out.

Depend on which OS are you runnig node-jq, could you try to run `getconf ARG_MAX` in your terminal, will output the Maximum by

[2016-12-03 16:28] davesnx commented on #51
Doing a little bit more of research arround that. I can add another workarround: Just increasing the `ARG_MAX` of you OS. [here](http://www.in-ulm.de/~mascheck/various/argmax/)

[2016-12-03 16:32] davesnx commented on #51
Also we are thinking [to support Node Streams](https://github.com/sanack/node-jq/issues/36) matching with `jq` streams.

[2016-12-04 05:02] qifuren1985 commented on #51
I means:
`
const spawn = require('child_process').spawn;
const child = spawn('jq', [". | map(select(.name > 1))"]);
const fill = require('lodash.fill');

child.stdout.on('data', (data) => {
  console.log(`${data}`);
});

child.stdin.setEncoding('utf-8');
const array2BIG = JSON.stringify(fill(Array(10000), { name: 2, lola: 'name' }))
child.stdin.write(array2BIG);
child.stdin.end()
`

[2016-12-04 14:54] davesnx commented on #51
Oh @qifuren1985, I see what you mean.

I like the idea we could extend the API of node-jq, to have the possibility to add stuff on the stdin.

I will ping you again If we finish with this.
Thanks for the issue man! Let me know if you found something that node-jq can be better.

[2016-12-10 16:54] wellsjo opened #52 "".[]" filter syntax does not work correctly"
In the terminal, I get:
[code]

Using `node-jq`:
[code]
I get the following error message:
[code]
I tested this using both `json` and `file` input types.

[2016-12-11 21:22] davesnx commented on #52
Hello @wellsjo,

That's basically because an array isn't a valid JSON Object. When JS tries to parse it, gives that generic error 😢.

We can talk about support JSON5 parsing for solve your issues or do a silly-condition for this simple case.

[code]

I'm balanced more for support JSON5.
Any thoughts @mackermans and @wellsjo?

[2016-12-11 22:46] wellsjo commented on #52
Array literals are part of the JSON spec though (see [json.org](http://www.json.org/)). And the following works:
[code]
So why would any JS parsing cause errors?

[2016-12-11 22:48] davesnx commented on #52
Sorry @wellsjo, I was wrong, I update the answer.

[2016-12-11 23:20] wellsjo commented on #52
@davesnx Ah, I see what's going on. I updated my answer above!

[2016-12-11 23:45] #52 closed

[2016-12-12 12:35] wellsjo commented on #32
[JSON-Splora](https://github.com/wellsjo/JSON-Splora uses) <3 `node-jq` 😄

[2016-12-12 22:02] MaanooAk opened #54 "Windows install error"
Error in console

[code]

[2016-12-13 00:03] davesnx commented on #54
Hello @MaanooAk

We didn't implement or test `node-jq` based on Windows. But, the error that you are getting is from trying to install the binary.

I will skip that step from Windows archs and would be necesary to have jq installed globally in your sistem.

[2016-12-15 11:16] davesnx commented on #54
@MaanooAk we are running with some problems with Windows. Could you actually join the gitter channel and try to contact me? Seems that jq 1.5 isn't working fine on Windows when we run it with Absolute path... and sincerely I don't have any experience arround Windows.

[2016-12-15 15:52] MaanooAk commented on #54
@davesnx I will do some investigating (when I got some time) and I will get back to you

[2016-12-17 16:18] #31 closed

[2016-12-29 12:19] davesnx commented on #54
Could you try now with the new release v0.5.0? @MaanooAk

[2016-12-29 12:47] MaanooAk commented on #54
Install ok

![capture](https://cloud.githubusercontent.com/assets/6997990/21544163/75fcab10-cdd5-11e6-9f75-eab7aa54ed4f.PNG)

Simple test ok

![capture](https://cloud.githubusercontent.com/assets/6997990/21544177/90d49682-cdd5-11e6-8193-a5b972e8f9d5.PNG)

Other test ??

![capture](https://cloud.githubusercontent.com/assets/6997990/21544189/a74c0300-cdd5-11e6-96b6-473adb2fc2d2.PNG)

Am I doing some

[2016-12-29 13:43] #54 closed

[2016-12-29 13:45] davesnx commented on #54
That potencially fix [JSON-Splora](https://github.com/wellsjo/JSON-Splora) on Windows?

[2016-12-29 13:51] MaanooAk commented on #54
It should after some changes in order to prevent the long arguments bugs of `jq`.
I'll take look

[2016-12-29 14:59] MaanooAk commented on #54
I fixed it, now it works fine!

[2016-12-29 15:00] davesnx commented on #54
Nice @MaanooAk !

[2016-12-30 11:41] davesnx opened #64 "node-jq export possible changes"
We can easily support sync calls or even not have a Promised API.
How we can match jq as a CLI with the values of node-jq as a module?
Could make sense have stuff like that:
[code]

[2016-12-30 11:43] davesnx opened #65 "kill jq.run"
According of https://github.com/sanack/node-jq/issues/64
I wanted to keep the module clean:

[code]

and eventually with the changes talked before:
[code]

and `jq.sync` could be the sync operation.

I wanted to maintain the jq.async === jq.run === jq for not breaking any compatibility.

Sounds good @mackermans

[2016-12-30 12:38] mackermans commented on #65
Sounds good, we can keep this functionality, deprecate it and then completely remove it when we bump to version `1.0.0`

[2017-01-26 20:45] greenkeeper[bot] opened #72 "An in-range update of validate-commit-msg is breaking the build 🚨"
## Version **2.11.1** of [validate-commit-msg](https://github.com/kentcdodds/validate-commit-msg) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sanack/node-jq/compare/greenkeeper%2Fvalidate-commit-msg-2.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      validate-commit-msg
    </

[2017-03-08 10:31] #72 closed

[2017-03-14 06:58] lmeyerov opened #81 "Escaping of variable names"
For the below data and command, I successfully receive a result via `jq-play` and the commandline, but an error from `jq.run()`:

**Data**:
[code]
**Command**:
[code]
**Expected output:**
[code]
**Actual output:**
[code]

If I replace `$` with `\\$`, the error goes away:
[code]
While this is fine in theory, I believe the goal is to conform to `jq`'s syntax, so this is surprising behavior.

[2017-03-14 09:47] mackermans commented on #81
@lmeyerov I think this has to do with `node-jq` running `jq` with double-quoted strings, so `$x` is evaluated as shell variable. We will probably have to either escape the dollar signs as you suggested, or swap the double for single quotes.

Thanks for reporting the issue, I'll see to get it fixed soon.

[2017-03-20 20:48] lmeyerov commented on #51
@davesnx  FWIW we just hit this as well on a 300KB file, with OS X being at 262KB

[2017-04-12 16:39] matthewadams opened #86 "Add native C/C++ bindings to jq"
Refactor the strategy of shelling out to call `jq` to making `node-jq` an actual native Node.js module, as per https://nodejs.org/dist/latest-v6.x/docs/api/addons.html.

The current strategy incurs the performance overhead of launching an external command, whereas a native invocation would not.

[2017-04-12 16:44] matthewadams commented on #86
Also see https://github.com/stedolan/jq/issues/1267

[2017-04-12 16:56] davesnx commented on #86
Hi @matthewadams

We thought about that a few times, we never get really deep on that basically because I never did any C/C++ port to Node.js.

As far as I know you can run `jq` as a programatically API and that lives in [`jv.h`](https://github.com/stedolan/jq/blob/master/src/jv.h) and potentially you could do an addon with Node with that.

I will try to implement it, I will come back when I have

[2017-04-12 21:43] matthewadams commented on #86
I'm expecting the current implementation not to pass muster during a code review in my current organization when they look for scaling issues.

[2017-05-06 17:45] #81 closed

[2017-05-07 11:02] davesnx commented on #81
Hey @lmeyerov, can you try now with v0.5.4?

[2017-05-18 17:42] kahidna opened #88 "more clear documentation and example"
Hi @davesnx,
I try learn to processing long json using your node-jq because `JSON.parser` is not able process more than 100 objects. But I have little bit confuse about your syntax example when using string as input. say I have json but in string type :
`stringJson = '{"menu": {"id": "file","value": "File","popup": {"menuitem": [{"value": "New", "onclick": "CreateNewDoc()"},{"value": "Open", "oncl

[2017-05-18 18:45] davesnx commented on #88
Hi @kahidna

Seems that the response that you are asking for is: The second parameter is the JSON that you are accessing, in your example would look like:

`jq.run('.', stringJson, { input: 'string' }).then(console.log)`

[2017-05-19 06:50] kahidna commented on #88
wow, cool.
work like a charm. thank you very much @davesnx :)

[2017-05-19 06:50] #88 closed

[2017-06-06 10:45] mackermans opened #90 "Add JSON5 support"
Related to #55

[2017-06-23 12:58] piotrkochan opened #95 "No possibility to use --slurp argument"
There is no way to use --slurp or any other additional argument

[2017-06-26 08:58] davesnx commented on #95
Hey @piotrkochan,

Currently we didn't implement slurp, we didn't found the proper use-case for that.
We could easily add it thought. Could you share what's a good example to add slurp or any other option to node-jq?

Thanks for creating the issue.

[2017-06-26 09:26] piotrkochan commented on #95
It is impossible to fetch multiple results as one, real object. Not string:

[code]

As:
[code]

Right now result must be manually parsed in order to detect multiple objects and jq-node will not return object when `{output: 'json'}` is applied: https://github.com/sanack/node-jq/blob/master/src/jq.js#L13
So it's a little bit goofy solution

[2017-06-26 14:30] davesnx commented on #95
Cool, thanks.

I will take a look into a possible solution. I will keep this open until I have something working.

Thanks for the example @piotrkochan

[2017-07-07 06:27] piotrkochan commented on #95
How it's going?

[2017-07-09 16:09] joshes commented on #95
@davesnx curious if you're already working on a solution or not. i may have some time to look into this if not.

[2017-07-09 16:40] davesnx commented on #95
Hey @piotrkochan and @joshes,

Thanks for the interest on this, we did have time to work on it.

@mackermans created this PR 2 days ago and he has something to enable slurp. We will try to merge and release it this week.

This [PR](https://github.com/sanack/node-jq/pull/96) allows `jq` to run with multiple files and another PR enabling slurp will be trivial.

Hope that works for you @joshes.

[2017-07-09 17:14] mackermans commented on #95
@piotrkochan @joshes

I just opened a PR (#97) that adds support for slurp that should resolve your issue.

Let me know if there are any other additional arguments you would like support for.

[2017-07-09 17:21] joshes commented on #95
Thats great! Thanks @mackermans!

[2017-07-10 10:53] #95 closed

[2017-07-10 11:13] mackermans commented on #90
@davesnx Does this still make sense to do?

[2017-07-10 17:53] davesnx commented on #90
I think so, It's a nice to have.

[2017-07-10 17:54] davesnx commented on #64
I don' think that makes much more sense, since we would like to have only one function.

[2017-07-10 17:54] #64 closed

[2017-09-17 13:26] gajus opened #103 "A simple query is giving "Invalid path" error"
I have tried to query `.paths["/movie/{movie_id}"].get.responses["200"].schema` and got error "Invalid path". As far as I can tell, that is a valid query.

[2017-09-17 18:28] gajus commented on #103
I read "Invalid query" what was "Invalid path".

This wrapper does not accept JSON as the second parameter.

[2017-09-17 18:28] #103 closed

[2017-09-18 08:19] davesnx commented on #103
Hey @gajus,

You might want to take a look into options? You can pass the JSON at would be the second parameter on the jq cli. Given a `{input: 'json'}` you can pass the JSON as a second parameter.

[2017-09-18 08:36] gajus commented on #103
My mistake. You are right @davesnx. Thank you.

[2017-09-20 20:05] sloanlance opened #104 "fix support for include/import"
With CLI jq, I use the command:
[code]
Where each file contains:
* `filter.jq`
[code]
* `data.json`
[code]
* `xor.jq` (included by `filter.jq`)
[code]
This gives the correct output:
[code]

However, when using node-jq in a program, I expect the filter to change and the JSON will already be objects in memory.  So I wrote:

[code]

This **_fails_** with the output:

[code]

I notice in the error mes

[2017-09-20 21:45] davesnx commented on #104
Hey @sloanlance

If you simplify your code snippet you realise that you are using the lib a little bit wrong.
With the default options we look up for a `path` and we read the file and parse for you.

[code]

Since we currently don't support modules you could just concat the module in the filter, it's kind of ugly but solves your issue:

[code]

That works as you expect.
We never had the necessity

[2017-09-21 03:48] sloanlance commented on #104
Thank you for the response.

I think I wasn't using the lib the _wrong_ way.  The example I showed here only read the JSON file and parsed it before calling node-jq, but my complete application will do a lot more than that.  It will be used to process a large amount of data in memory (several million compacted JSON objects), so I followed the [example in the documentation](/sanack/node-jq/blob/306

[2017-11-16 15:49] dspigarelli opened #108 "Add regex support"
When I try to use a regex expression, I get the following error:

`
    jq was compiled without ONIGURUMA regex libary. match/test/sub and related functions are not available
`

Is adding regex support on the roadmap?

[2017-11-16 16:48] davesnx commented on #108
We might consider adding match probably to jq. As I explained in another issue you can still add addons into jq.  [https://github.com/sanack/node-jq/issues/104#issuecomment-330990268](https://github.com/sanack/node-jq/issues/104#issuecomment-330990268)

[2017-11-30 22:10] Yugloocamai opened #109 "Add command line args as an option"
It would be nice to be able to pass something like -c to jq
`jq -c '.[]' file.json`
Maybe add 'commandLineOptions' to the available options, and append them to JQ_PATH in command.js?

[2017-12-01 11:01] mackermans commented on #109
@Yugloocamai For the example you specified, I believe `jq.run('.[]', 'file.json', { output: 'string' })` would do the trick.

Do you have additional command line options you would like to see implemented?

[2017-12-21 00:41] tlhunter commented on #109
@mackermans The `--sort-keys` flag is one I'd like to see implemented.

[2017-12-21 14:04] mackermans commented on #109
Closing this issue as the original request has been resolved.

[2017-12-21 14:04] #109 closed

[2018-04-26 23:46] darweshsinghcgi opened #122 "Catch cannot iterate over null error"
Is there a way to catch the very specific `jq: error (at <unknown>): Cannot iterate over null (null)`? I'm retrieving data from a remote location that may/may not be populated (hence it being null). I essentially want to retry but I don't know how to catch that error.

Thanks!

[2018-05-09 23:04] davesnx commented on #122
Hey @darweshsinghcgi

Could you share the json and the query that you are using?

[2018-05-09 23:05] davesnx commented on #108
@dspigarelli Looks like the issue it has been open for a while and there's a workaround for it, did you manage to fix it?

I will close the issue if it's the case

[2018-05-10 15:25] davesnx commented on #122
Given this code:

[code]

Works fine, If there's no item in the array `"ingress"` will return null without throwing. If there's no `"ingress"` you might need a better jq filter using [`select`](https://stedolan.github.io/jq/manual/#select(boolean_expression))

I didn't test it, but something like that would make your use case.

[code]

I'm closing this since isn't an issue with node-jq itself.

Th

[2018-05-10 15:25] #122 closed

[2018-05-23 20:26] darweshsinghcgi commented on #122
Thanks for the pointer. I'm still having trouble, and I've tried a few options:

[code]

throws
[code]

For reference, here's what the json looks like:

[code]

I've tried a few combination of commands and selectors with no success.

[2018-05-24 08:52] davesnx commented on #122
This error is from jq: `ingress/0 is not defined at <top-level>`.

I'm afraid that you have an issue with jq itself. loadBalancer looks empty and you want to check if any of the childs exists. I have it working like that:

`→ jq_ '.body.status.loadBalancer | .ingress[]?.ip' data.json`

[2018-06-05 14:56] brocoli commented on #65
Please, keep returning an object in require / import, as returning anything else makes it a pain to mock in unit tests.

[2018-06-22 02:08] Offirmo opened #125 "Clarify the use"
I wanted to manipulate JSON in a npm script.

Came across this module. However, its behavior is unclear.

- is this module installing jq? Like building it from source somewhere?
- if not, is this module expecting jq to be already installed and in the path?

[2018-06-22 21:12] davesnx commented on #125
Hello @Offirmo

Yes, `node-jq` installs the right binary of `jq` inside `node_modules/.bin` at installation-time.

After that you can use jq in your cli like: `npx jq` or `node_modules/.bin/jq` or even directly `jq` if you are inside the package.json.

I would close this issue, since it's just a question. It's true that we could explain that better on the readme.

[2018-06-22 21:12] #125 closed

[2018-06-23 10:37] Offirmo commented on #125
Nice to know!

Is it compatible with Windows, then?

[2018-06-23 12:33] davesnx commented on #125
Yes, the details of the binary installation lives here: https://github.com/sanack/node-jq/blob/master/scripts/install-binary.js

[2018-09-03 16:52] brocoli opened #129 "travis-deploy-once is listed as a dependency instead of devDependency"
Please switch the travis-deploy-once dependency into a devDependency.

This package depends on @babe/core and a number of other dependencies, bloating considerably the builds of any package that depends on node-jq.

[2018-09-05 10:15] davesnx commented on #129
Hey @brocoli, I suggest to install all your dependencies with `--prod`. It will not install the devDependencies of each pacakge.

Thanks for reporting the issue

[2018-09-05 16:08] #129 closed

[2018-09-05 16:11] mackermans opened #131 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-05 19:50] #131 closed

[2018-09-07 11:30] mackermans opened #135 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-07 11:32] mackermans commented on #135
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-07 11:43] #135 closed

[2018-09-13 16:22] LaurentGoderre opened #137 "Detect if jq already exists on the system"
In my alpine linux container, it is easier to install from package manager that installing all the build tools. It would be nice if there was a way to detect an installed version before building.

[2018-10-05 20:11] LaurentGoderre commented on #86
I would be really interested in this as well. I found the following article and hope I can take a stab at it soon.

https://pravinchavan.wordpress.com/2013/11/08/c-binding-with-node-js/

[2018-10-17 20:57] davesnx commented on #137
Hey @LaurentGoderre

We don't really want to depend on a global installation of jq. But I can see the need.

We could consider add an env var that forces to not download the binary, would that work for you?

[2018-10-17 20:57] #65 closed

[2018-10-17 20:58] #33 closed

[2018-10-18 15:00] LaurentGoderre commented on #137
Absolutely!!

In the meantime, in my Dockerfile, I do a symlink to make it work but it isn't ideal for maintenance.

[2018-10-31 09:39] stefaneg opened #142 "Add a bin declaration in package.json"
Would be nice to also have a link to jq in node_modules/.bin

[2018-10-31 10:23] davesnx commented on #142
Hey @stefaneg

Do you mean, adding a bin property inside package.json that points into the binary?

[code]

https://docs.npmjs.com/files/package.json#bin

I will create a PR adding it if it's the case.
Thanks for reporting it!

[2018-11-12 21:23] greenkeeper[bot] opened #145 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.10.8` to `15.11.0`.

🚨 [View failing branch](https://github.com/sanack/node-jq/compare/master...sanack:greenkeeper%2Fsemantic-release-15.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-release

[2018-11-12 23:21] IAMtheIAM opened #146 "Can't install on windows"
[code]

Node 10.13.0
Same happens with 8.11.3

I installed `windows-build-tools` so what is this package expecting?

[2018-11-12 23:39] davesnx commented on #146
HEY @IAMtheIAM

I will try to add Node 10 in https://ci.appveyor.com/project/sanack/node-jq
and try to reproduce it there.

Do you have any idea, what's the error message telling?

[2018-11-30 17:19] lfrda opened #148 "Possible issue when dirname has blank spaces"
i'm trying to deploy my application to a server, however i keep getting an error message whenever jq needs to kick in. Upon further investigation I found this in the logs:
[code]
it seems the bin is never generated because the directory's name contains blank spaces

[2018-12-11 20:26] dwntwnbrown opened #149 "spawn ENAMETOOLONG"
The following error is throw [spawn ENAMETOOLONG] when executing the following call on windows (10 and 2012 r2 server) not an issue when running on mac.

    let filter = ".datasets.dbFileReg.versions[]";
    let options = { input: "json", output: "json" };
    let fileProcessingStats = await jq.run(filter, stats, options)
      .then((output) => {
        return output;
      });

"node-jq": "^1.

[2018-12-11 20:56] IAMtheIAM commented on #146
Unfortunately I do not know what it means, were you able to get any insight into this?

[2018-12-28 14:55] ericlewis commented on #108
fyi, this is fixed in the #150

[2018-12-28 18:50] ericlewis commented on #86
I created a C addon, but performance wise, I’m not sure it’s any better. Average run time using this lib was 11ms, calling the library natively was 30ms.

[2018-12-28 19:07] ericlewis opened #151 "New release?"
Anyway we could get a new release for the 1.6 fix?

[2019-01-03 08:09] #142 closed

[2019-01-03 08:12] mackermans opened #152 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-01-03 08:15] mackermans commented on #142
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-03 08:15] mackermans commented on #129
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-03 08:15] #152 closed

[2019-01-03 08:22] davesnx commented on #149
Hey @dwntwnbrown

Happens the same with a small json?

[2019-01-03 08:49] davesnx commented on #86
I don't see any evidence of improvement on performance with native bindings.

If what @ericlewis said was true, I will close this issue and maybe consider it to add it on the README.

Thanks everyone!

[2019-01-03 08:49] #86 closed

[2019-01-03 08:49] #145 closed

[2019-01-04 18:14] ericlewis opened #154 "Error when trying to npm install version 1.4.0"
I think it is related to this commit that was added: https://github.com/sanack/node-jq/commit/f6e25bc98941cc0f23504f5d38f7fdebecf90690#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[code]

[2019-01-04 18:14] ericlewis commented on #154
this happens regardless of -g or local.

[2019-01-04 18:34] kaylah commented on #154
I've experienced the same problem installing 1.4.0

[2019-01-05 16:49] agosto-thomasbohmbach commented on #154
Same here. Reverted back to `v1.3.1`

[2019-01-05 21:35] ericlewis commented on #154
You can try @trycom/node-jq for 1.4 sans bin issue

[2019-01-07 10:58] davesnx commented on #154
Published a new version 1.5.0 without the issue.

Thanks for reporting, I didn't know that npm was checking for binaries and throw if they weren't there before post install time.

[2019-01-07 10:58] #154 closed

[2019-01-07 10:59] davesnx commented on #146
I used Windows 10 in our CI and didn't had any problem. I will close this issue and re-opened if there's more info about this issue.

https://github.com/sanack/node-jq/pull/153

[2019-01-07 10:59] #146 closed

[2019-01-07 11:01] #32 closed

[2019-01-07 11:01] #34 closed

[2019-01-07 11:01] #35 closed

[2019-01-07 11:01] #36 closed

[2019-01-07 11:01] #37 closed

[2019-01-07 11:01] #90 closed

[2019-02-21 17:44] gajus opened #157 "Error event not handled"
[code]

[code]

[2019-03-07 05:50] einsub commented on #157
I had the same problem.
It seems to work well with version 1.3.1.

[2019-03-17 15:41] darweshsinghcgi commented on #157
Same issue here. Rolling back to 1.3.1 fixes the problem.

[2019-03-19 12:20] davesnx commented on #157
Hey, I'm not able to reproduce.

I created a codesandbox and after that I tried locally and both works fine for me: https://codesandbox.io/s/13k0pq2km4?expanddevtools=1&fontsize=14&moduleview=1&previewwindow=tests&view=editor

Tried with node 10.6 and v10.15.2

Could you help me find out @einsub @darweshsinghcgi ?

[2019-03-21 19:59] muxa opened #159 "Fails to install binary"
This happens when the directory path being installed into has spaces:

[code]

(On macos)

[2019-03-22 13:14] davesnx commented on #159
Hey @muxa, thanks for the issue.

The issue here is the `/My Work/` folder, right?
Right now we use `https://github.com/kevva/bin-build` to install the binary from where jq is hosted.

Maybe it's an issue with `bin-build` instead of our install-script. I will take a look and come back. It is actually related with https://github.com/sanack/node-jq/issues/148

[2019-03-26 18:04] darweshsinghcgi commented on #157
I'm currently unable to reproduce - it has disappeared. Will update if it shows up again. @davesnx

[2019-03-27 09:13] skitsanos commented on #159
Have the same issue on OSX...

[code]

[2019-04-08 15:03] davesnx commented on #157
Closing meanwhile! 👍

[2019-04-08 15:03] #157 closed

[2019-04-08 15:11] davesnx commented on #148
The issue is caused because of your folder structure contains some blank space. We need your folder to install properly jq binary.

You could do 2 things to fix it:

- Consider removing the blank space from the folder name, because folders with blank spaces it's a pain for all the scripts/cli (https://superuser.com/questions/29111/what-technical-reasons-exist-for-not-using-space-characters-in-file

[2019-04-08 15:11] #148 closed

[2019-04-08 15:11] davesnx commented on #159
The issue is caused because of your folder structure contains some blank space. We need your folder to install properly jq binary.

You could do 2 things to fix it:

- Consider removing the blank space from the folder name, because folders with blank spaces it's a pain for all the scripts/cli (https://superuser.com/questions/29111/what-technical-reasons-exist-for-not-using-space-characters-in-file

[2019-04-08 15:11] #159 closed

[2019-04-08 15:12] davesnx commented on #108
This issue is fixed already, thanks!

[2019-04-08 15:12] #108 closed

[2019-04-08 15:17] davesnx commented on #137
Hey @LaurentGoderre

Pretty late, but I needed and I implement the `NODE_JQ_SKIP_INSTALL_BINARY` env variable. It's un-documented right now, but if you set `NODE_JQ_SKIP_INSTALL_BINARY=true` it will skip the instalation!

[2019-04-08 15:36] davesnx commented on #137
1.6.0

[2019-04-08 15:36] #137 closed

[2019-04-08 16:07] LaurentGoderre commented on #137
Awesome! Thank you!

[2019-04-08 17:27] davesnx commented on #149
I would try input file and try to stress test the call.

If you could send a reproducible case, I would take a look at it myself.

[2019-04-16 13:21] stefanobaghino opened #161 "Add installed `jq` to the PATH"
It would be nice to use the [`bin` key](https://docs.npmjs.com/files/package.json#bin) to add a symbolic link of the installed `jq` to the PATH environment variable so that it can be used within the scope of scripts defined in the `package.json` file directly.

Right now it can be used by referring to it as `node_modules/node-jq/bin/jq`, which of course would still be a reasonable compromise if fo

[2019-04-16 16:06] davesnx commented on #161
Hey @stefanobaghino

I remember having those conversations around this [here](https://github.com/sanack/node-jq/issues/142) in this [PR](https://github.com/sanack/node-jq/pull/143)

As I explain my concerns there:

And... if you skip the installation that would break.
There's no possibility if we point directly to `jq`, but could point into a small bash that checks the env variable to `SKIP_INSTAL

[2019-04-17 09:18] stefanobaghino commented on #161
Thanks for coming back to me so quickly. Sorry for this kind of "duplication", I searched in the existing issues but apparently I haven't done a good job at it.

Yes, this would not be a solution.

At this point I would think about closing both the issue and the PR, but before I do that, could I ask what is the purpose of `NODE_JQ_SKIP_INSTALL_BINARY`? I'm not too much familiar with this library,

[2019-04-17 15:32] davesnx commented on #161
Hey @stefanobaghino

It's not documented yet, but `NODE_JQ_SKIP_INSTALL_BINARY` assumes that you have jq already installed and you know where jq lives ($PATH or directly the absolute).

For the sake of solving your shortening, let's merge the PR (since other people asked for this as well). We can figure it out later making a breaking change.

[2019-04-17 15:32] #161 closed

[2019-04-17 15:35] mackermans commented on #161
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-18 08:57] stefanobaghino commented on #161
Cool, thanks.

[2019-04-18 14:00] esride-nik opened #163 "Error when npm installing 1.7.0"
Hey guys, it seems that there's an issue with the latest version. We tried on 3 different machines, all current NPM versions, in repos where it used to work before and in empty folders, and it always says:

[code]

Installing an older version works: `npm install node-jq@1.5.0`

[2019-04-18 16:16] davesnx commented on #163
Thanks for reporting, I will take a look.

[2019-04-18 17:07] davesnx commented on #163
I was taking a look at the issue happened https://ci.appveyor.com/project/sanack/node-jq/builds/23923362/job/299dacxnfpog3a78 and seems that it's a node error happening when you try to change the permissions to downloaded jq.

The issue posted on nodejs is here https://github.com/nodejs/node/issues/20498

[2019-04-18 19:51] davesnx commented on #163
Could you try with `node-jq@1.7.1`?

[2019-04-19 08:43] jakobwgnr commented on #163
hello! Getting the same error when trying to install 1.7.1

FYI don't know if relevant - I'm working on a windows machine

[2019-04-23 15:26] sirpy commented on #163
1.6.0 works on macosx 1.7+ doesnt.

[2019-05-07 01:55] imoark commented on #163
I can install on WSL for node-jq@1.5.0
But I can't run it over the script, saying `sh: 1: ./node_modules/node-jq/bin/jq: not found`
Details here https://github.com/sanack/node-jq/pull/143#issuecomment-489872126

[2019-05-07 07:53] davesnx commented on #163
Which error are you facing?

[2019-05-09 15:44] davesnx commented on #163
I tried personally, and fails only with npm (my version is 6.4.1).

Could you share your npm's version @sirpy @jakobwgnr

[2019-05-09 16:09] davesnx commented on #163
It's fixed in `@1.8.1`

The key `bin` inside the packagejson makes npm (and not yarn) to change the permisions just before the install (before the install script too), this is why it was failing. I lost my head a little bit here...

Sorry for the apologies folks!

[2019-05-09 16:09] #163 closed

[2019-05-09 16:14] davesnx commented on #161
I remove it from the packagejson, you could use `npx jq` if you want to point into jq binary.
Because npm tried to change the permisions before installing and we had a few people breaking their builds with that.

[2019-05-09 16:15] davesnx commented on #149
Closing since there's no response for a while. Feel free to open again and I will try to help.

[2019-05-09 16:15] #149 closed

[2019-05-09 16:15] #104 closed

[2019-05-10 10:39] zaygraveyard opened #167 "Bug: jq not moved to node_modules/.bin"
## Description

After an install of this module, the binary is downloaded and placed in `node_modules/node-jq/bin/jq` but not moved to `node_modules/.bin`

### Test

[code]

## Environment

nodejs version: Node.js v11.15.0 (linux 5.0.13-arch1-1-ARCH)
npm version: 6.9.0
node-jq version: 1.8.1

[2019-05-10 10:58] davesnx commented on #167
Hey @zaygraveyard

That's not a bug, it's an intended behaviour. This package don't provide a binary to execute, just wraps the jq binary.

As discussed: [here](https://github.com/sanack/node-jq/issues/161), [here](https://github.com/sanack/node-jq/issues/142) and [here](https://github.com/sanack/node-jq/pull/143)

If there's a need to use a package to install the binary of jq, I would create a se

[2019-05-10 10:58] #167 closed

[2019-05-21 21:51] lostinplace opened #170 "Release 1.9.0 isn't built"
Just what I said in the intro, the release in github isn't actually built.  As a workaround, you can use the release in my fork:

https://github.com/lostinplace/node-jq/releases/download/v1.9.0/node-jq@1.9.0.tar.gz

[2019-05-24 15:53] davesnx commented on #170
Hey,

Thanks for pointing that out. I didn't release the build version since I thought that anyone would be interested. Cool that you are!

Aside from that, how did you manage to push a folder to "releases" that is ignored with `.gitignore`?

[2019-05-27 14:38] lostinplace commented on #170
I'm going to be real honest, I'm not sure

[2019-05-27 15:50] davesnx commented on #170
I will assume that isn't possible. But still, It's a weird use-case. I will close that issue.

Thanks for reporting!

[2019-05-27 15:50] #170 closed

[2019-05-28 07:02] sirpy opened #171 "jq isn't copied into .bin on 1.9"
it installs correctly and jq is found in node_modules/node-jq/bin
but isn't being copied into node_modules/.bin so npx jq doesnt work

[2019-05-28 07:31] davesnx commented on #171
It's expected behaviour, we had many issues with that: https://github.com/sanack/node-jq/issues/167 https://github.com/sanack/node-jq/issues/161

[2019-05-28 07:31] #171 closed

[2019-06-14 19:34] iilei commented on #104
Because that's a documentation bug ([jq #1483](https://github.com/stedolan/jq/issues/1483)) I doubt jq will allow imports in othe places than the beginning.

Therefor im my own project I circumvented the issue by using node-jq with ['file' input](https://github.com/sanack/node-jq/#input).

As it tured out to work well, my question is @davesnx what do you think of the idea of baking this temporary

[2019-06-14 23:46] davesnx commented on #104
Make sense. I would love to design an API that makes sense for this case. Do you want to open a new Issue and we can discuss there?

I will start with something like: `jq.import().run()`. Where import returns the same instance as now. It wouldn't be a breaking change and just the people that matter about import would use it.

I need to think more but I have a preference for this option rather than

[2019-06-15 07:16] iilei commented on #104
By `jq.import().run()` you mean input type `string` would not be able to manage imports?

[2019-06-15 13:05] davesnx commented on #104
Yes, `import('xor')` or `import('./absolute/path/to/xor')` both should work.

[2019-06-26 04:58] axi92 opened #174 "Install 1.9.0"
## Description
I cant get node-jq installed.
If it helps I already have jq via apt installed.
I tried to create a symlink for /usr/bin/jq into node_modules/node-jq/bin/jq but that was not working...

### Error Message & Stack Trace

[code]
## Environment
nodejs version:
[code]
npm version:
[code]
node-jq version:
[code]

[2019-06-26 17:20] davesnx commented on #174
Seems that is a problem with the makefile of jq itself. There's nothing to do with node-jq at this point.

[code]

If you have installed jq already, you can use `$ export NODE_JQ_SKIP_INSTALL_BINARY=true` to skip the installation and would work.

[2019-06-26 17:20] #174 closed

[2019-06-27 04:57] axi92 commented on #174
[code]
and it worked

[2019-07-22 11:43] MartinMuzatko opened #192 "Use JQ to write to JSON"
## Description

Hello! I'd like to use jq as an alternative to `deep-get-set` or similar to use the same syntax for reading to also write to a file or JSON string/object.

## Relevant Links

We are using hjson to read hjson files. In order to write back specific information for command line use, we created our own hjsonw package that sets the jq-like property:

https://github.com/MartinMuzatko/hjs

[2019-07-22 23:27] davesnx commented on #192
Hey @MartinMuzatko

Seems like a very interesting problem. I might try to help, could you give a little bit more of detail?

What's exactly your trying to do? I understand so far, you receive `field` and `value` where field is jq-like, something: ".pokemon.water". You would like to use jq directly.

jq can work without a json file, using `--null-input`, like: `jq -n '{"ref": [100, 1]} | .ref'`.

B

[2019-07-23 07:58] MartinMuzatko commented on #192
Hello @davesnx
This is exactly what I need, now just from within nodejs programmatically if possible.

I will test if I can do this purely with jq -n.
Thanks!

[2019-07-29 00:35] lostnet commented on #51
This problem seems to look a little [different on windows](https://stackoverflow.com/questions/57166113/how-to-fix-error-spawn-enametoolong-probably-cause-by-jq-in-javascript) as it seems windows reports ENAMETOOLONG for reasons other than PATH_MAX.

Here is a test case that an input file more than 2*ARG_MAX ("1," * ARG_MAX) can be processed as `[input] | jq [filter]` as @qifuren1985 proposed, but

[2019-07-29 09:57] davesnx commented on #51
Using json as an input fails at: 300KB file. event with OS X being at 262KB?

About @lostnet, it related with this right?
support.microsoft.com/sv-se/help/830473/command-prompt-cmd--exe-command-line-string-limitation.

I can't really do anything from the node-jq side, atleast recommend to lightwight your json before sending it to node-jq. Maybe paginate it, maybe chunk it, depends on your data.

[2019-07-29 11:45] lostnet commented on #51
@davesnx right, it is something <8k on windows, [<128k on linux and <262k on osx](https://www.in-ulm.de/~mascheck/various/argmax/). This is because node-jq does [this](https://github.com/sanack/node-jq/blob/master/src/options.js#L27) instead of retaining the data as a separate argument to send separately [here](https://github.com/sanack/node-jq/blob/master/src/exec.js#L11) using process.stdin.writ

[2019-07-30 10:13] mackermans commented on #51
@lostnet I opened #194 which should fix this issue. Could you check it out and let me know if it works for you?

[2019-07-30 11:04] #51 closed

[2019-07-30 11:07] mackermans commented on #51
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 11:20] lostnet commented on #51
Thank you @mackermans the test case and use of stdin are consistent with fixing the problem I was seeing. I added a comment in 194 since I'm not sure if it could add a regression for people that actually try to send an empty text input. I think that always failed given the argument to the old version, but it might leave a hanging jq now..

[2019-07-30 12:35] lostnet opened #195 "stdin creates an edge case hang of jq on empty strings"
## Description

The fix for issue #51 can cause a permanent hang where previous node-jq returned an immediate error since '' is used to not send to stdin. Distinguishing null from '' for stdin will cause this to succeed as a generative jq usage on an empty file (the common usage jq -n was meant to simplify on the cli.) IMO supporting it is correct/desirable behavior, erroring is more deffinitely b

[2019-07-30 12:39] lostnet commented on #51
Thanks @mackermans I tested that the new version passes on my linux host that was failing bellow the 128k mark with the old node-jq. I opened issue #195 for the potential of an edge case hang since this is already integrated.

[2019-07-30 15:30] mackermans commented on #51
Thanks, @lostnet. I confirmed the just released stdin version does indeed hang on several cases. I'll open up a PR to throw errors based on those inputs, to be compatible with the previous versions again.

[2019-07-31 15:04] bosskay972 commented on #149
I have the same problem and it doesn't work with big json but with small json it work perfectly how to fix that ?
here is my error code:

[code]

[2019-07-31 15:10] mackermans commented on #149
Hi @bosskay972, could you please provide some more information?

- Did this error occur on the latest node-jq version? (we recently fixed #194, which should allow for bigger json inputs that are not loaded from files)
- What node, npm/yarn and node-jq versions are you using?
- How are you running node-jq? (what does the source code look like?)
- Could you provide steps to reproduce the error, so w

[2019-07-31 15:25] bosskay972 commented on #149
I don't want to copy paste because it's an heavy topic, so i will link you my question I posted on stackoverflow: here is the [link](https://stackoverflow.com/questions/57166113/how-to-fix-error-spawn-enametoolong-probably-cause-by-jq-in-javascript)

You can check the post, the answer and the comment below the answer and then the chat too there is many information I add frequently if I discover so

[2019-07-31 15:50] bosskay972 commented on #149
Finally I fixed the problem ! I update my version of node_jq in the right folder !

[2019-07-31 15:52] mackermans commented on #149
Glad to hear @bosskay972!

[2019-08-01 12:37] #195 closed

[2019-08-01 12:40] mackermans commented on #195
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-02 11:16] lostnet commented on #195
The new checks look good to me, thank you @mackermans!

[2019-08-02 12:29] #192 closed

[2019-08-16 15:26] doArcanjo opened #205 "Usage with Node Streams - Documentation"

[2019-08-16 15:31] davesnx commented on #205
Hey @doArcanjo,

Could you elaborate more? I assume you need documentation on using node native streams with node-jq?

Do you have any use-case for that?

[2019-08-16 17:56] doArcanjo commented on #205
I do, pipe a streamed result dataset, being fetched from an API, into jq, and streaming out(again) the results.
Thank you

[2019-09-05 21:35] btakita commented on #205
+1 I've been using `spawn` with `jq`. Here's an example:

[code]

[2019-10-18 16:59] travisghansen opened #222 "performance bottlenecks"
## Description
I'd like to work with this in a project that requires relatively high-performance. I ran some tests with this and the `jsonpath` package to compare simple selects (I'm aware the tools have vastly different capabilities etc).

jq was magnitudes slower and I'm not sure if that comes from the exec/shell or if something else is at play. Any tips and/or help maximizing performance would

[2019-10-18 17:36] davesnx commented on #222
Hey @travisghansen

I would love to get a more deep understanding of the benchmark that you have run. The data sample is the same schema and you run jq (node-jq) vs jsonpath 500 times. I would love to see directly without the NodeJS wrappers, to detect if it's a node-jq wrapper fault and we can investigate further. If that's not the case, there's not much we can do, rather than see where Java vs P

[2019-10-18 17:44] travisghansen commented on #222
Hey, I'll try to knock something out in bash real quick and see how that performs. I picked the schema above simply because for my use-case I'll be dealing with relatively small datasets but lots of iterations over and over (I'm handling auth scenarios: https://github.com/travisghansen/external-auth-server).

I'm also digging in over here: https://github.com/robertaboukhalil/jqkungfu/issues/3 to s

[2019-10-18 17:50] travisghansen commented on #222
Yeah, 500 iterations in bash is essentially the same as invoked from node through your lib. Probably not much we can do :(

[code]

[2019-10-18 17:51] travisghansen commented on #222
[code]

[2019-10-18 18:17] davesnx commented on #222
mmm, sad. Not much we can do. In order to help in your use-case, I recommend to forgot to pipe operations on the shell if you want to get high performance.

After reading your project, I don't really get where do you need jq. I would suggest trying with native JS or lodash. Since I always heard that lodash.map is faster than native https://jsperf.com/native-map-vs-lodash-map

Hope it helps and ope

[2019-10-18 18:17] #222 closed

[2019-10-18 18:23] travisghansen commented on #222
@davesnx I intend to use `jq` for handling assertions and generally mangling data (it already does in fact, examples here: https://github.com/travisghansen/external-auth-server/blob/master/ASSERTIONS.md). While code I write is fine to do in native code, individual configurations as managed by the user are simply structured json that defines various assertions that should occur etc during run-time.

[2019-11-06 13:33] stefaneg opened #227 "Global installation not working with nvm"
MacOS Mojave, nvm 0.33.6

Reproducing:

nvm use v12.13.0
npm i node-jq -g

ls -l ~/.nvm/versions/node/v12.13.0/bin | grep jq

I would expect jq to be installed here. Since there is no bin entry in node-jq/package.json, npm will not do it. So it seems like the install-binary script is not working properly under nvm.

[2019-11-06 14:12] davesnx commented on #227
Hello @stefaneg,
Thanks for opening a new issue.

`install-binary` adds the jq binary under it's own node_modules and inside `bin/`. So, when you install node-jq as a global, it woudn't be on the binary folder that nvm neither your local env expects to live the jq.

The current behaviour It's an issue that we mitigate moving the jq binary in `bin/`.

Here are some links for reference about the iss

[2019-11-07 09:13] stefaneg commented on #227
Seems to me that the cheap solution here is to improve documentation to state that node-jq is a wrapper around a binary, and point out that the proper way for global install is to use native package managers such as brew or apt to install jq.

I would also look into hooking into earlier lifecycle events to run the script, which might allow npm to create the symlink based on a bin entry in package.

[2019-11-07 10:20] davesnx commented on #227
I will try to do that, either the documentation or change the hook 👍

[2019-11-13 05:45] bties-ogawa opened #230 "how to get json output?"
Hi, thanks nice module. i like it.
but help me.

### Description

I want to get json type response.
but it was string.

like as below:
"aaaa"\n
"bbbb"\n
"cccc"\n

can i get json?

* i hope strings is not quoted by '-r' option.

### Test Source

[code]

### Error Message & Stack Trace

[code]

## Environment

- Windows 10 Professional
- `npm i node-jq --save`
- `/node_modules/node-jq/jq.exe` was in

[2019-11-13 09:20] davesnx commented on #230
Hey @bties-ogawa

That's the current behaviour with jq:

[code]

[code]

There's no way to currently parse the output when it's a query like `[]`.
When output is json we try to parse and if isn't possible we return the output as it is.

Some times you could change the output of the query inside the query, something like: `reduce .[] as $i ({}; .[$i.name] = $i)` and create an object of an array, yo

[2019-11-13 09:20] #230 closed

[2020-01-02 10:33] shyamvala opened #244 "Passing Variables to jq.run"
## Description

I am curious if there is a way to pass variables from the JS code to the jq.run command.

For example in JQ, you could do something like this, here `dt` is the variable that is being passed.
`cat sample.json | jq --arg dt "2017-01-01" '{first_name, last_name, $dt}'`

I tried to pass some arguments to jq.run method in the options object but got a validation error, looking at the sou

[2020-01-02 23:08] davesnx commented on #244
Hey @shyamvala

Right now, the only way do that is to use string concatenation, or for simplicity, template strings. https://developers.google.com/web/updates/2015/01/ES6-Template-Strings

We could create a "variables" key inside the parameters, doesn't seem much needed tho.

WDYT?

Thanks for opening an issue

[2020-03-04 15:53] doArcanjo opened #281 "Npm audit - decompress module"
https://github.com/kevva/decompress/issues/71

[2020-03-16 19:54] silverkorn commented on #227
Isn't the npm install switch `--no-bin-links` for avoiding these kind of issue?
I would personally have done something like the following to detect if it's already installed:
[code]
---
Otherwise, my workaround (To do once on every new instance):
[code]
[code]

[2020-03-16 20:49] davesnx commented on #227
You can always skip the installation globally with `$ export NODE_JQ_SKIP_INSTALL_BINARY=true`

[2020-03-27 15:25] silverkorn commented on #227
Automation of detection is marvelous, that's why I suggested the "jqPath" detection part as the default installation behavior (as the hook).
I tend to install applications/tools that becomes available directly in my terminal by default after an `nvm install -g`, such as `angular-cli`, `yarn`, etc. So at first I thought I could do the same with this project.

[2020-04-03 07:31] mackermans opened #288 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-17 07:44] mackermans commented on #288
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-21 04:21] christianbundy opened #292 "Streaming input"
## Description

Is it possible to run JQ on a stream? I'm integrating node-jq with a popular streaming library but having to run `jq.run` for each  item in the source.

## Relevant Links

- https://github.com/christianbundy/pull-jq

[2020-04-21 14:27] davesnx commented on #205
Hey @doArcanjo,

I still don't get why would you use node-jq which is a wrapper around jq to run operations to transform the response of a request, since you would open a spawn to bash to get the transformations and back, seems not the ideal solution; but I might miss some context here that might discard what I just wrote.

But going on the same direction, running jq inside a node script to allow

[2020-04-21 14:27] davesnx commented on #244
Closing, since the problem seems solved.

[2020-04-21 14:27] #244 closed

[2020-04-21 14:30] davesnx commented on #292
Hey @christianbundy, it's possible but I never had to. I'm pointing to [here](https://github.com/sanack/node-jq/issues/205) since seem the same problem. Closing this.

Thanks for opening an issue.

[2020-04-21 14:30] #292 closed

[2020-04-27 12:18] jerrythomas opened #298 "Problem running node-tap tests"
## Description

When running tests that use `node-jq` I am getting the following error

### sample code
No issues when run with `node index.js`
[code]

### Test Source
This however runs into an issue.

[code]

### Error Message & Stack Trace

[code]
## Environment

Tell us which operating system you are using, as well as which versions of Node.js, npm/yarn, and node-jq.

Run the following to get i

[2020-04-27 14:52] davesnx commented on #298
Hey @jerrythomas,

I'm not available to create a replicate example of your error and debug it (I'm on my Phone), but It seems like node-tap doesn't have permissions over the binary jq. Can you try to give run access directly to node-jq? or jq?

Thanks for opening the issue with the template, that helps a lot.

I will come to you as soon as I got a reproducible project.

Thanks again!

[2020-04-27 16:25] jerrythomas commented on #298
I uploaded a repo with the repro code. Problem is not with the executable.

https://github.com/jerrythomas/issue-jq-tap-nyc

[2020-04-27 18:21] danfarewell opened #299 "IOptions type is missing "input""
## Error
IOptions type is missing attribute "input" and therefor it can't be specified without errors. Workaround for now is to cast it as any. The fix should be pretty easy by simply adding input to the IOptions interface and adding the allowed types as "json", "file" or similar.

## Environment
node v13.11.0
npmv 6.13.7

[2020-04-28 06:45] #288 closed

[2020-05-03 11:43] davesnx commented on #298
It seems that have to do with nyc: https://github.com/tapjs/node-tap/issues/669

[2020-05-03 11:43] #298 closed

[2020-06-01 16:26] jfoclpf opened #306 "Error on installation"
[code]

[code]

[2020-06-08 07:56] ryoju-ohata commented on #306
Try again after the following command.

[code]

[2020-06-08 07:57] ryoju-ohata commented on #306
Try again after the following command.

[code]

[2020-06-08 08:04] jfoclpf commented on #306
Thank you @ryoju-ohata
But in my POV, npm packages should not depend on third-parties not available at npm itself, nor oblige the user to do sudo.

[2020-06-08 09:46] davesnx commented on #306
Hey @ryoju-ohata and @jfoclpf

Sorry for not responding earlier. node-jq relies on jq and tries to do the best to install it for you, so in fact this package relies on "third-parties", since needs to build jq depending on your architecture. I would disagree on `packages should not depend on third-parties not available at npm itself` then.

This is why we added the possibility to SKIP_INSTLATION an

[2020-06-08 09:46] #306 closed

[2020-06-08 09:56] jfoclpf commented on #306
@davesnx thanks, I indeed agree with you on that (that the program must not be in npm it selft), though I fully disagree that one should be obliged to do some `sudo` command.
Anyway thanks

[2020-08-27 13:34] barl0g opened #321 "Error: spawn jq ENOENT"
[code]

[code]

## Environment

nodejs version:
[code]
npm version:
[code]
node-jq version:
[code]

[2020-08-27 14:38] davesnx commented on #321
node-jq support node LTS which is v12, so currently we don't support v10. Please upgrade your nodejs.

Thanks!

[2020-08-27 14:38] #321 closed

[2020-08-27 15:27] barl0g commented on #321
It's the same with v12

[code]

[code]

[2020-08-27 15:31] barl0g commented on #321
And v14.

[code]

[2020-08-27 18:12] davesnx commented on #321
Hey @barl0g, I'm sorry I just saw the v10 and assumed that was the problem. I set up this repo to discard any compatibility issue with node versions or jq versions: https://github.com/davesnx/try-node-jq

The error of ENONT seems like the jq binary is missing under node_modules/node_jq/bin/
`Error: spawn /Users/davesnx/dev/playgrounds/try-node-jq/node_modules/node-jq/bin/jq ENOENT`

Could you chec

[2020-08-27 19:22] barl0g commented on #321
I don't have bin directory in node-jq

[code]
I installed node-jq with

[code]

because i had some broken dependencies.

What should I do?

[2020-08-27 20:55] davesnx commented on #321
Try installing jq globally then or don't use the NODE_JQ_SKIP_INSTALL_BINARY flag.

[2020-08-27 21:00] davesnx commented on #299
Fixed https://github.com/sanack/node-jq/pull/301

[2020-08-27 21:00] #299 closed

[2020-08-28 05:48] barl0g commented on #321
I have jq installed globally.

[code]

[2020-08-28 10:22] davesnx commented on #321
Then the node script running node-jq should work, isn't it?

[2020-09-28 12:29] mackermans commented on #281
Fixed in https://github.com/sanack/node-jq/pull/287

[2020-09-28 12:29] #281 closed

[2020-12-09 20:32] saiichihashimoto opened #349 "Can't exec "aclocal": No such file or directory"
We have a [Vercel](http://vercel.com/) and [Next.js](https://nextjs.org/) stack. In local development, having `node-jq` in `devDependencies` works great! However, since most CIs install the dev dependencies as well for building, this will attempt building the jq binary which results in the following error:

![image](https://user-images.githubusercontent.com/2819256/101683789-0d88b580-3a2b-11eb-962

[2020-12-10 11:18] davesnx commented on #349
Hey @saiichihashimoto

Building the binaries on each release might solve this issue but will generate a bunch of other problems regarding different archs.

We provide a way to skip the binary installation (since most CIs have already jq installed) with a env variable: `export NODE_JQ_SKIP_INSTALL_BINARY=true`.

Would this work for your case?

[2020-12-10 21:41] saiichihashimoto commented on #349
I think it does! I just set that env var in the CI environments and it seemed to solve the issue. Thanks!

[2020-12-10 21:41] #349 closed

[2021-02-04 09:35] qistoph opened #363 "Array as input causes crash"
## Description

Calling node-jq with JSON input and supplying an array causes a crash, even though jq supports arrays as input.

The error reported is:
**UnhandledPromiseRejectionWarning: ValidationError: "json object" must be of type object**

[code]

### Test Source

[code]

### Error Message & Stack Trace

[code]

Found a fix, working on a PR

[2021-02-04 09:38] qistoph opened #364 "@hapi/joi deprecated"
## Description

The library [@hapi/joi](https://www.npmjs.com/package/@hapi/joi) has been deprecated but is still in use.

For example at https://github.com/sanack/node-jq/blob/master/src/options.js#L1.

[2021-02-05 22:01] pcorless opened #367 "Possible ./node-jq/bin/jq permission issue"
I've been having trouble with a build/bundling because of the permission on  ./node-jq/bin/jq set via fs.constants.S_IXUSR via the install-binary.js .  As result the jq binary only has execute permission and I can't copy bundle etc.

Any chance there is a small bug with the install-binary.js ?  Wondering if the intent was

`fs.chmodSync(distPath, fs.constants.S_IXUSR | 0o100)`

instead of

`fs.chm

[2021-02-06 14:19] davesnx commented on #367
Hey @pcorless

I believe it's intended as it is right now. Can I ask, what's the reason to have read access on the binary?

Thanks for opening the issue!

[2021-02-08 02:25] pcorless commented on #367
It's mainly for a build system I'm working with,  lots of copying around and bundling of files.
I think right now I'm leaning towards using the JQ_PATH and avoid the binary install.  Thanks for the info!

[2021-02-08 02:25] #367 closed

[2021-02-23 12:02] hrdlnk opened #374 "Build fails on Heroku"
[code]

[2021-02-23 13:29] davesnx commented on #374
Hey @hrdlnk

It seems like a permission problem, can be related with heroku instead of node-jq?

Can you try skipping the installation, probably heroku buils a ubuntu machine with jq installed already.

[2021-03-16 11:55] #363 closed

[2021-03-16 11:55] #374 closed

[2021-03-16 11:56] #364 closed

[2021-03-16 11:56] #205 closed

[2021-03-16 11:56] #227 closed

[2021-03-23 09:44] vipulgupta2048 commented on #374
Hey @hrdlnk did you find a fix for it?
@davesnx Thanks, I tried skipping the installation of the binary in my heroku build which made the build work. But, then node-jq has trouble finding the `jq` package itself (error below). According to https://devcenter.heroku.com/articles/stack-packages, Heroku does provide the jq package at build time which is where `node-jq` is looking for jq and can't find

[2021-03-23 10:11] hrdlnk commented on #374
Nope.

Heroku’s support turned out to be of little help:

I ended up testing my app on a € 2.5/month Hetzner instance and skipped the serverless thing altogether.

Good luck!

[2021-03-23 10:34] davesnx commented on #374
Hey @vipulgupta2048

Sorry for the trouble, can you try to debug where the binary of jq lives? Running `which jq` will tell you exactly that.

We run jq from the `process.env.JQ_PATH` and we fallback to our installed one. Assigning `JQ_PATH= $(which jq)` can fix your issue.

Let me know if there's anything I can do.

[2021-03-23 10:35] davesnx commented on #374
If the problem persists, can you share a minimum repo where the deploy happens in heroku where I can take a look?

[2021-04-08 21:44] Horsty80 opened #389 "impossible to use node-jq with large json"
## Description

I'm trying to reproduce a Jq command with node-jq on a large json.
I use Jq to help me to parse it by reduce considerably is size by omit some attribut on it.

The json is like this :
[code]
When i launch this Jq command in my terminal there are no problem Jq works fine and i get the result that i expect

[code]
When i implement it on my node project, i've got the error because the

[2021-04-09 11:15] davesnx commented on #389
Hey @Horsty80,

Sorry to have troubles with node-jq. There shouldn't be any problem with node reading a json file, running a child_process and later print it to the console (or save it to the file system).

and after a few tests I realized that there's no such problem with node-jq. If you run jq from the cli with `-slurp` that expects that the json is paginable (or in a more functional way, the op

[2021-04-09 11:15] #389 closed

[2021-04-09 19:48] Horsty80 commented on #389
Thanks @davesnx !!
I misunderstood `-slurp` option, i didn't need it so i remove it and it's work perfectly :)
awesome !!

[2021-04-11 08:43] SRachamim opened #390 "jq binary"
The documentation says:

This is a bad practice. We should not encourage people to access a binary in a `node_modules`. This is a workaround-hack.

I suggest to either install `jq` as a standard binary (see `tsc`, `shellcheck` and *many* more example) or remove it from the documentation.

[2021-04-11 09:53] davesnx commented on #390
Hey @SRachamim

**node-jq** installs `jq` as a "standard" binary, whatever that "standard" means to you. I'm surprised that you mention that having a binary under node_modules is a "workaround-hack", while most packages in the node ecosystem include their binaries under `node_modules/bin`.

Since it's installing `jq` from the wire on a post-install script, I couldn't make it work with the "bin" fi

[2021-04-11 09:53] #390 closed

[2021-04-11 10:53] SRachamim commented on #390
Sorry, I don't pretend to kno what's really a standard, but I use to expect `tsc`, `eslint` and other binaries available on my `npm` scripts, while `jq` behaves differently.

[2021-04-16 00:16] fjcaetano commented on #374
Using the packaged `jq` doesn't work because it's only available at build time, not at runtime. I was able to solve this by using an additional buildpack that enables `jq`: https://github.com/chrismytton/heroku-buildpack-jq

Then you can set the environment var when running your app: `JQ_PATH=\"$(which jq)\" node index.js`

[2021-04-16 15:04] vipulgupta2048 commented on #374
Thanks @fjcaetano for posting a solution. I forgot to reply but indeed this is the solution that actually worked out for us as well. Thanks @davesnx for the assist as well.

[2021-04-19 18:59] fjcaetano opened #392 "[Feature Request] Filter formatting"
## Description

The filter applied should be formattable for readability and reduced complexity.

### The Problem
I'm using the following filter to extract and map the data I need into a single level array:
[code]

### The Solution

That filter is already quite long, but not even close to some complex filters and mappings that could be applied to `jq`, however this would be much easier to read if

[2021-04-20 07:58] davesnx commented on #392
Hey @fjcaetano

For now, `node-jq` doesn't support any transformation on the input and it is unlikely that it will support it. For various reasons, but the most important is that would introduce a lot of bugs or even breaking apps. Another reason is that pre-processing the string it might make sense for your use-case but it's hard to get it right for all use-cases.

I would recommend try to solve

[2021-04-20 07:58] #392 closed

[2021-05-07 18:30] synedra opened #398 "Would it be possible for you to update dependencies?"
## Prerequisites

- We ask only that you do your best to provide as much information as possible so we can better help you.
- Ensure the issue isn't already reported.
- Ensure the issue isn't about jq itself.
- Should be reproducible with the latest node-jq version.

*Delete the above section and the instructions in the sections below before submitting*

## Description

When I install node-jq ther

[2021-05-10 09:37] davesnx commented on #398
Hey @synedra

I keep merging PRs from dependabot so most dependencies should be up to date. Aside from hapi, can you share which dependencies you want to see them updated?

[2021-05-20 21:23] jeffory-orrok opened #402 "It should be possible to install globally"
Since you describe using jq as a CLI, I expected to be able to install using `npm i -g node-jq`.

[2021-05-23 16:34] davesnx commented on #402
It's totally doable to install it globally. Isn't the purpose of this wrapper, but it's doable.

The jq binary gets installed in your global folder under `/node-jq/bin`, if that's is in your $PATH, jq will be available.

[2021-05-23 16:34] #402 closed

[2021-05-27 15:50] kseniamukhortova commented on #163
Hi! I'm using version 1.12.0 and the issue is reappearing on unix. Bin folder is missing in node_modules/node-jq after yarn install

[2021-05-27 15:55] davesnx commented on #163
Can you make a reproduction example that I can look into?

[2021-05-28 06:19] kseniamukhortova commented on #163
It turned out that bin folder is missing if I call `yarn install --ignore-scripts` - I needed this flag for own purposes but wasn't aware it will affect jq binary installation

[2021-05-28 06:55] kseniamukhortova commented on #163
It is also very unfortunate, that after it is installed without bin folder, further calls to 'yarn install' (without --ignore-scripts flag) don't end up in installing bin, as it supposes everything is installed already.

[2021-05-28 08:21] davesnx commented on #163
Right, `--ignore-scripts` will not run the npm post-install scripts, which in node-jq case, installs the jq binary from github.

I'm not sure if I understand this part:

If you want to keep the `--ignore-scripts` in your installation, I think there are 2 options available:

1. Run `npm install --ignore-scripts` (and keep node-jq outside of the dependencies) and run `npm install node-jq` separately

[2021-05-28 08:30] kseniamukhortova commented on #163
Thanks, will give it a try! Probably, it would be good to note in the documentation somewhere that node-jq requires postinstall scripts to be run.

[2021-05-28 08:37] davesnx commented on #163
There's a paragraph explaining that:

Will improve it, Thanks

[2021-05-28 08:49] davesnx commented on #398
Hey @synedra, If you are interested in making your package look less shaky, I encourage you to create a PR with your desired changes. For now I don't have the bandwidth to fix those

[2021-05-28 08:49] #398 closed

[2021-05-28 08:58] kseniamukhortova commented on #163
BTW, I had installed in the system,
which jq
/usr/bin/jq

but I had the same ENOENT crash when it was not found in node_modules/node-jq/bin/jq.
My workaround was to pass the '/usr/bin/jq' into 'run' method as the forth optional parameter, then it worked.

[2021-06-22 04:17] NewMountain opened #410 "5 high severity vulnerabilities"
Hello sanack and the maintainers of node-jq. My apologies if you are already aware of the issue and please feel free to close if this is not useful. I did not see such an issue open.

When installing node-jq, I'm getting a rather scary error

[code]

In running npm audit, I get:

[code]

In digging through a bit, I see a few issues filed on [`kevva/download`](https://github.com/kevva/download/issu

[2021-06-22 08:41] davesnx commented on #410
Hey @NewMountain

There are a few packages related with `hapi` that are deprecated that we rely on, the rest of the packages as you pointed out happen to be on https://github.com/kevva/download, once this gets resolved it's a tiny dependency update on our side.

Thanks for opening the issue

[2021-07-06 13:57] amitzig commented on #363
Has this been solved?
Running with
[code]
Crashes for me with:
`message: '"json object" must be of type object'`

[2021-07-06 15:21] mackermans commented on #364
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/node-jq/v/2.0.0)
- [GitHub release](https://github.com/sanack/node-jq/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-07 10:48] mackermans commented on #363
@amitzig Looks like the fix was merged but the npm package wasn't automatically published. I triggered a new release yesterday, though unfortunately, it bumped the major version to `2.0.0`, which communicates more of a breaking change than it actually is.

Have a look at version `2.0.0`, and if it's still broken, please open a new issue.

[2021-08-29 21:36] DaniellMesquita opened #425 "Can't be used in a Electron app due to node_modules/joi/lib/ref.js:80"
Is Joi related to Hapi (https://github.com/sanack/node-jq/issues/410)?

Node version: v14.17.3

This is after adding "const jq = require('node-jq');" inside main.js.
Before, I added this inside HTML and it compiled, but also threw this error, on Electron Chromium console: "SyntaxError: Unexpected token ..."

@sanack @davesnx

[2021-08-30 07:48] davesnx commented on #425
Hey, @DaniellMesquita

Never tried to run it inside electron, someone did a while ago: https://github.com/wellsjo/JSON-Splora. Could you try v0.5.0 just to discard the Joi?

I will be happy to remove it if it causes issues.

[2021-08-31 08:30] lgarron opened #427 "Run using `npx node-jq`"
If you run `npx node-jq`, you get:

[code]

Would it be easy to support `npx`?

[2021-08-31 10:13] davesnx commented on #427
Hey @lgarron, running node-jq with npx doesn't make much sense for the nature of the project. node-jq isn't a CLI, tt's a wrapper on top of jq (which it is in fact, a CLI). Node-jq is used to call jq programmatically from node.

Could you explain what do you expect to happen in that case?

I'm closing this

[2021-08-31 10:13] #427 closed

[2021-08-31 21:01] lgarron commented on #427
I was looking for a way to invoke `jq` using `npx` because it's much easier to use `npx` for all scripting dependencies than requiring people to install packages like `jq` separately.

The project description sounded general enough to cover that:

[2021-09-20 06:54] DaniellMesquita commented on #425
@davesnx

Did you mean this: https://github.com/sanack/node-jq/releases/tag/v0.5.0?

Would `npm install node-jq@0.5.0` work?

[2021-09-20 08:26] davesnx commented on #425
Exactly @DaniellMesquita

[2021-09-20 17:24] DaniellMesquita commented on #425
How to get an JSON value in one line and without using `console.log` as input, but `return`?
Based on [this question](https://stackoverflow.com/questions/69249944/directly-return-stdout-instead-of-logging-on-console#69249944).

[2021-09-20 19:36] DaniellMesquita commented on #425
The [username](https://www.npmjs.com/package/username) NPM package enables me to just use `username()` to get a result.

I would like that node-jq could be that simple, by just using something like `jq.run("'.abilities[].moves' /path/to/bulbasaur.json")` in one line and directly returns (instead of `console.log`) the result. Just like the username package does.

[2021-09-20 21:42] davesnx commented on #425
Hey @DaniellMesquita

Your question is more like: "It is possible to run node-jq as asynchronous operation, without using Promises (async)". It's possible to run a command in the terminal and return back the results as a synchronous operation, but node-jq isn't implemented that way.

Can you explain why do you need it? Maybe the solution is somewhere else.

I'm closing this since I would assume th

[2021-09-20 21:42] #425 closed

[2021-09-21 00:43] DaniellMesquita commented on #425
Sorry for the offtopic. I agree on closing this issue.

Thanks for you helpful suggestion about using an older version (in this case, [v0.5.0](https://github.com/sanack/node-jq/releases/tag/v0.5.0) through `npm install node-jq@0.5.0`).

I will test if it works and may request or not to re-open the issue, if there is a need.

[2021-09-21 21:56] danimesq opened #430 "[Question] Can node-jq run synchronous?"
The [username](https://www.npmjs.com/package/username) NPM package enables me to just use `username()` to get a result.

I would like that node-jq could be that simple, by just using something like `jq.run("'.abilities[].moves' /path/to/bulbasaur.json")` (using the same standard as jq in the shell) in one line and directly return (instead of `console.log`) the result. Just like the username packag

[2021-09-21 21:57] DaniellMesquita commented on #425
forked and improved on this issue: https://github.com/sanack/node-jq/issues/430

[2021-11-15 15:47] davesnx commented on #430
Hey @DaniellMesquita

Node-jq runs jq in the terminal with child_process, which can either run async or sync. Right now, node-jq just expose an asnyc version of the operation.

Do you have any reason why it shouldn't be an async call? Also, happy to help landing a contribution here if you are interested.

Thanks for asking those questions!

[2021-11-16 17:20] carlo-quinonez opened #439 "`jq` executable has the wrong permissions"
## Description

The `jq` executable has the wrong permissions. I think this has been fixed in the latest commits. Will this fix be released soon?

## Environment

node 12.22.6
npm 7.24
node-jq 2.0.1

[2021-11-16 17:58] davesnx commented on #439
Just retriggered the build+publish, for some reason Travis didn't run automatically. Will be published after that.

[2021-11-17 19:55] PhaedrusTheGreek opened #440 "cannot open `node_modules/node-jq/bin/jq` for reading: permission denied"
I'm unable to deploy a google cloud function that relies on `node-jq`

[code]

I'm assuming there is some cloud environment security that prevents execution of a local binary.

Related - https://github.com/sanack/node-jq/issues/374

[2021-11-17 22:33] davesnx commented on #440
It was fixed in https://github.com/sanack/node-jq/commit/7935a4e8716398a95731247c01cdc774486c29da but Travis decided to not run. I will migrate to Github Actions so this won't happen.

I'm releasing manually a 2.0.2 version.

Closed related https://github.com/sanack/node-jq/issues/439

[2021-11-17 22:33] #440 closed

[2021-11-17 22:33] davesnx commented on #439
It was fixed in https://github.com/sanack/node-jq/commit/7935a4e8716398a95731247c01cdc774486c29da but Travis decided to not run. I will migrate to Github Actions so this won't happen.

I'm releasing manually a 2.0.2 version.

[2021-11-17 22:38] davesnx commented on #439
Fixed on 2.0.2

Thanks for reporting an issue

[2021-11-17 22:38] #439 closed

[2021-11-19 16:33] InsOpDe opened #441 "[BUG] Version 2.0.0, 2.0.1, 2.0.2 come without lib directory"
the latest releases do not come with a prebuild `lib` directory, thus making it impossible to use the library.

the main property of each `package.json` directs to "lib/jq.js" which is not present when creating a new package and installing the package.

reproduction:
[code]

it can be fixed by installing the `1.12.0` version which includes the prebuild `lib` directory

[2021-11-20 18:47] davesnx commented on #441
Release a 2.1.0 version with the lib folder.

There was an issue with our CI running in Travis, moved to Github actions and solved

Thanks for reporting.

[2021-11-20 18:47] #441 closed

[2021-11-21 15:36] davesnx commented on #410
Hey @NewMountain

I got the time to fix the issues you mentioned above. The only warning that I got when installing is from `uuid@3.3.2`. Which happens to be on the transitive dependencies from node-jq, so there are a few versions of `bin-build`, `tempfile` and even `codeclimate-test-reporter` so it's unlikely to get removed soon.

[code]

Thanks for caring and opening this issue <3

[2021-11-21 15:36] #410 closed

[2021-12-09 23:55] gnhbuchanan opened #454 "Can't uninstall"
Every time I try to uninstall this package it reinstalls itself if i open a new terminal window, how do I uninstall?

i have tried multiple combinations

npm uninstall node-jq

[2021-12-10 09:38] davesnx commented on #454
Hey @gnhbuchanan

Can you share some steps to reproduce?

Please follow the issue template: https://github.com/sanack/node-jq/blob/main/.github/issue_template.md

[2021-12-10 15:46] gnhbuchanan commented on #454
## Description

I installed this package in my top level directory. I am a mac user so I either ran npm i node-jq or sudo npm i node-jq.

Shortly thereafter, I realized that this was not an install that I needed for my project, so I deleted it.

I tried npm uninstall node-jp with many combinations of sudo, ignore scripts, save flags.

The package is removed from my node_modules folder, but it look

[2021-12-10 17:59] gnhbuchanan commented on #454
Apologies, this was all a result of my own doing. I am closing the issue, thank you for the follow up and sorry for the inconvenience.

[2021-12-10 17:59] #454 closed

[2021-12-15 09:15] trasherdk opened #462 "Error: bumping node-jq 2.0.0 to 2.1.0"
When trying to get rid of those annoying deprecated warnings
[code]
I decided to bump `node-jq` to see if that would do it.

[code]

From the log-file:
[code]
... All good until
[code]
Full log: [debug-0.log.gz](https://github.com/sanack/node-jq/files/7717740/debug-0.log.gz)

It seems to be `semver` don't like the format of a version somewhere, but I haven't encountered this anywhere else.

[2021-12-15 09:30] davesnx commented on #462
I'm able to instal node-jq with a specific version such as `npm i node-jq@2.1.0`. Haven't seen this error since it complains about ^6.0.1 and your installing ^2.0.1.

[2021-12-17 05:49] trasherdk commented on #462
Well, it's not `node-jq` as such it's complaining about, but some deep dependency.

`node-jq@^2.0.0` does install without complaining.

The problem exists in https://github.com/trasherdk/ts-kraken/

Even this fail:
[code]

[2021-12-17 09:34] davesnx commented on #462
[code]

node-jq doesn't rely on ts-kraken as you can see.

Please don't remove the ISSUE_TEMPLATE and provide a reproducible environment such as a repo or a codesandbox. Closing since doesn't seem any related with node-jq.

[2021-12-17 09:34] #462 closed

[2021-12-18 03:32] trasherdk commented on #462
`node-jq` is a dependency of [ts-kraken](https://github.com/trasherdk/ts-kraken/).

`ts-kraken` is currently importing `node-jq 2.0.0` without problems.
Trying to upgrade `node-jq` to `2.1.0` causes this problem.

And for `a reproducible environment such as a repo`, this is it:
[code]

[2021-12-18 05:30] trasherdk commented on #462
Okay. I found the culprit, and it's not related to `node-jq`.

In `package.json` of `ts-kraken` I found this thing
[code]
Booting that part solved the problem. Sorry for the noise :blush:

[2022-02-12 13:35] mrak1001 opened #487 "Why not install?"
![image](https://user-images.githubusercontent.com/15646057/153713544-10c88ffc-263d-4646-aebe-837880169090.png)

[2022-02-12 18:12] davesnx commented on #487
There's nothing on this issue that I can understand. If there's any problem with the installation, please describe it with words and make a reproduction in a repo/gist. Feel free to re-open it with more information.

Thanks.

[2022-02-12 18:12] #487 closed

[2022-02-13 05:14] mortezaataiy commented on #487
try https://github.com/sanack/node-jq#advanced-installation

[code]
@mrak1001

[2022-03-09 14:57] Symbolic76 opened #500 "Need the current version updated on NPM"
Hello

The current version of the project on Github is up to date and everything is fine.
But currently on NPM, the version still has semantic-release packages in dependencies in `package.json`.
If you could release a version on NPM, where the two packages are moved in devDependencies, it could be very nice.

Thanks.

[2022-03-22 11:24] jasonkhanlar opened #503 "Is this capable of using xq and yq for XML<->JSON conversion also?"
In one script I'm currently using Node.js exec() to run a command line script running xq to convert an XML file to JSON:

[code]

processing the data, and then running yq to convert the JSON back to XML:

[code]

and I'm trying to find a native Node.js alternative so that I don't have to work with saving so many files during the processing. Is this project capable of handling XML<->JSON conversion

[2022-03-22 14:20] davesnx commented on #500
Published 2.2.0 into npm with latest changes. This should be automatic from now on. I will keep this open until you say works for you.

[2022-03-23 19:38] tyler-dunkel commented on #500
we recently started seeing issues in our tool which uses node-jq under the hood. I wonder if it might be due to this latest release.

Here is the error text we are seeing:
[code]

[2022-03-23 19:54] davesnx commented on #500
Hey @tyler-dunkel

Can you share more information about this?

- Which version are you running?
- Is this on run-time? install-time?
- Where are you running this code?

[2022-03-23 19:59] davesnx commented on #500
I debugged myself and seems like the build artifacts aren't published to npm. I will fix it asap. Thanks for reporting, but please, next time give all the info upfront.

[2022-03-23 20:20] davesnx commented on #500
Pushed 2.3.0 with the fix. The "lib" folder wasn't pushed.

Thanks!

[2022-03-23 20:20] #500 closed

[2022-03-23 21:26] donaldoakes opened #505 "NPM package is missing TypeScript definition files in lib"
## Description
Latest node-jq version 2.3.0 on npmjs.com has no *.d.ts files in lib directory, resulting in Typescript compilation errors.

### Test Source

[code]

### Error Message & Stack Trace

[code]

## Environment

[code]

[code]

[2022-03-23 22:19] davesnx commented on #505
Hey @donaldoakes

Just pushed a new version 2.3.1 with a fix for this incident. I was messing around with a fix on the build process and break the TS definitions, now are being pushed into lib folder.

Thanks for the issue

[2022-03-23 22:19] #505 closed

[2022-03-26 19:21] jkozak opened #506 "lefthook as a dependency"
## Description

`node-jq` now has a dependency on `@arkweid/lefthook`.

Installation now creates a file in the project root and also a git hook.  This is far, far too intrusive.  My immediate thought was that this was an attempted hack, and I shall have to review the code to convince myself that it's not.

## Environment

Tell us which operating system you are using, as well as which versions of N

[2022-03-28 10:30] davesnx commented on #506
Published a fix for it. It's an accidental dependency, sorry for the troubles.

New version https://github.com/sanack/node-jq/releases/tag/v2.3.2

Thanks for reporting!

[2022-03-28 10:30] #506 closed

[2022-03-30 06:59] butcherpete opened #508 "SyntaxError: Cannot use import statement outside a module"
## Description
I have tried `const jq = require('node-jq')` and various means to import node-jq with module set in my package.json.

I keep getting the following error using require('node-jq')

----
/node-jq/node_modules/node-jq/lib/jq.js:1
import exec from './exec';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (no

[2022-03-30 14:36] sce9sc commented on #508
Have the same issue . Reverted to 2.0.1 and all works ok

[2022-03-30 17:51] nalexiou commented on #508
I reverted to 2.0.1 and I am seeing this error:
` node test.js
events.js:377
      throw er; // Unhandled 'error' event
      ^

Error: spawn /home/pi/node_modules/node-jq/bin/jq EACCES
    at Process.ChildProcess._handle.onexit (internal/child_process.js:274:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:82:21)
Emitted 'er

[2022-03-31 15:12] davesnx commented on #508
Published a new version v2.3.3 with the fix. The work to change babel made so much problems, sorry for the troubles.

[2022-03-31 15:12] #508 closed

[2022-06-24 17:33] donaldoakes opened #515 "Socket redirect vulnerability in "got" dependency"
## Description
Dependabot and `npm audit` identify a vulnerability in "got" dependency (fixed in >= 11.8.5): https://github.com/advisories/GHSA-pfrx-2q88-qq97.

### Test Source
[code]

### Error Message & Stack Trace
[code]

## Environment
nodejs version:
[code]

npm version:
[code]

node-jq version:
[code]

[2022-06-25 17:27] davesnx commented on #515
Hey @donaldoakes

Extremely unlinkely that the got dependency reaches to prod, since this code it doesn't run on the execution of node-jq. It's used to download the binary on install.

Nevertheless, I will try to fix it, Thanks!

[2022-06-28 20:03] arinanto opened #516 "Error on jq.run filter escapes the promise chain and throws to the user"
## Description

Invalid JQ Expression causes NestJS to completely crash. Attemp to catch exception is ignored by node.

### Test Source

[code]

### Call URL Using HTTPie

[code]

### Error Message & Stack Trace

[code]

## Environment

AlmaLinux 8 running inside WSL2 on Windows 11 (build 22000.778). Server using NestJS running on top of ExpressJS.

nodejs version:

[code]

npm version:

[code]

n

[2022-06-28 20:31] davesnx commented on #516
Hey @arinanto

The error that you show is `EPIPE`. It comes from node (https://nodejs.org/dist/latest-v12.x/docs/api/errors.html) and is saying that your code tries to write into a closed stream.

If you look closely to the error stack, you will see that node-jq runs at the beginning of the stack and it doesn't run any node:internal, neither relies on any streams.
[code]

I managed to make a small

[2022-06-28 20:48] arinanto commented on #516
@davesnx thank you for the response, unfortunately a very simple ExpressJS app also crashed by your example code.

HTTPie:

[code]

Output:

[code]

Entire server code:

[code]

package.json:

[code]

[2022-06-29 07:25] davesnx commented on #516
Hey @arinanto

Can you try without any HTTP framework? The snippet above should work fine and discard any "fear" of being in the intersection between 2 technologies that have nothing to do with each other.

First, try that jq works in your system running:
``` jq -r '.version' package.json ```

Later, try to run the simplest script. If that doesn't work, this issue should matter.

[2022-06-29 11:31] arinanto commented on #516
Thanks for clearing it up, I've just tried again and indeed it's because of the space.

[2022-07-26 22:35] samarths-msft commented on #516
I'm seeing the same crash with any invalid filter. E.g.: https://replit.com/@samarths-msft/try-node-jq#index.js. In our scenario, filter is supplied by ExpressJS web service caller. It can be invalid. If filter is invalid, we want to catch the error and return "invalid filter error" to the caller. However, due to invalid filter, the ExpressJS app itself is crashing.

[2022-07-27 05:49] davesnx commented on #516
Meanwhile, I am looking into this. You can wrap the entire expression of jq with a try/catch, or add an `unhandledRejection` on the process.

[2022-09-28 05:00] RulerOf commented on #430
@davesnx

Some people would much prefer to just write synchronous JS and cannot utilize this package at all without sync support?

[2022-09-28 06:00] davesnx commented on #430
Hi @RulerOf

The "sync" support is very easy to add, not so easy to maintain but PR are welcome. If some people prefer it, I'm happy to help land the feature and commit to maintaining it, but I doubt that you would prefer to interact with a shell command synchronously.

The issue has been open for 1 year and without a clear use case or answer.

Closing it (for now) If there's a need happy to re-op

[2022-09-28 06:00] #430 closed

[2022-10-01 12:20] unnimona opened #528 "how to output to browser instead of console.log?"
how to run in express.js browser (not command line) as typescript or javascript?

[2022-10-01 13:05] #528 closed

[2022-11-08 23:25] cschroed-usgs opened #545 "Support Custom Root Certificate Authority"
## Description

Using node-jq fails during `npm install` when using it in corporate environments that use an [HTTPS Interception solution](https://www.secureworks.com/research/transitive-trust).

### Test Source

[code]

### Error Message & Stack Trace

[code]

## Environment

nodejs version:

Node.js v14.20.0

linux 5.15.0-48-generic

npm version:

6.14.17

node-jq version:

2.3.4

## Suggested S

[2022-11-25 22:42] davesnx commented on #545
You should be able to skip this with `export NODE_JQ_SKIP_INSTALL_BINARY=true`

[2022-11-25 22:42] davesnx commented on #545
We don't plan to implement features like this on install-binary

[2022-11-25 22:42] #545 closed